.connexion-block {
    padding: 32px;
    border: 2px black solid;
    border-radius: 8px;
    width: 60%;
    margin: auto;
    margin-top: 16px;
}
.form-input {
    margin: 10px;
    flex-direction: column;
    display: flex;
}
input[type="submit"] { 
    border-radius: 30px;
    color: white;
    background-color: red;
    padding: 12px;
    padding-left: 24px;
    padding-right: 24px;
}
